body {
    background-color: lightseagreen;
    color: black;
    margin: 0 auto;
    text-align: center;
    font-family: 'Audiowide';
    font-size: 15px;
}

.board-container {
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}

.board-container td:hover {
    background-color: lightcoral;
}


.board td:hover {
    background-color: rgb(250, 144, 102);
}

table {
    background-color: turquoise;
    margin: auto;
}

.table td {
    font-size: 20px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    text-align: center;
    transition: .5s;
}


.cell {
    border: 1px solid black;
    background-color: khaki;
    width: 25px;
    height: 25px;
    padding: 0;
}

.cell-clicked {
    background-color: rgb(204, 80, 204);
}

.cell>span {
    display: none;
    height: 25px;
    line-height: 26px;
}

.level-buttons {
    background-color: yellow;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    width: 25%;
    margin: 0 auto;
}

.restart-game>button {
    text-align: center;
    background-color: lightseagreen;
    border-radius: 10px;
    border: none;
    padding: 5px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    width: 5%;
    margin: 0 auto;
}


h1 {
    text-align: center;
    font-size: 45px;
    margin: 10px;
}

h2, h3 {
    margin: 10px;
}
